SUPABASE_URL=https://xxxxx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=isi_service_role_key
INFOSALDO_API_KEY=isi_api_key_infosaldo
QRIS_STATIC=000201010211....
ADMIN_USER=PW
ADMIN_PASSWORD=PW
AUTH_SECRET=ganti-random-panjang
